<div id="base_footer" class="footer-left">
	<p>訂購電話：(02)2230-7963 or 0952-121831
	   E-mail：chinchanglee@gmail.com
	   地址：(11670)台北市文山區景文街1號8樓之3  
    </p>
	<p>© EnjoyYum Group，致力於手作天然美味的牛軋糖。</p> 
</div>
